* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
}

#navbar-title {
  font-size: 2rem;
  margin: 1.5rem;
}

#navbar-list ul {
  display: flex;
  list-style: none;
}

li a {
  color: white;
  text-decoration: none;
  padding: 2rem;
  display: block;
}

li a:hover {
  background-color: #777;
}

#container {
  margin: 10rem auto;
  text-align: left;
  background-color: rgb(9, 73, 65);
  padding-bottom: 2rem;
}

h3 {
  margin-left: 5rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-size: 1.7rem;
}

label {
  display: block;
  margin-left: 5rem;
  margin-bottom: 5px;
}

input {
  border: 1px solid #fff8f8;
  border-radius: 5px;
  height: 35px;
  width: 40%;
  padding: 0.7em;
  margin-left: 5rem;
  margin-bottom: 2rem;
  box-shadow: 0 5px 1px 2px;
  font-size: 14px;
}

@media (max-width: 480px) {
  #navbar-title {
    font-size: 1rem;
    margin: 0.5rem;
  }

  li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
  }
}
